a {
  text-decoration: none !important;
  color: whitesmoke !important;
  transition: color 0.3s ease, transform 0.3s ease !important;
}



.row>div {
  padding-top: .75rem;
  padding-bottom: .75rem;
  /* border: 0.1em dotted red; */
  box-shadow: 1px 1px 2px 0px rgba(13, 26, 66, 0.95);
  /* padding-left: 0px; */
  border-radius: 10px;
}

.project {
  border: 4px solid rgba(1, 11, 74, 0.757);
  border-radius: 10px;
  transition: box-shadow 0.6s;
  margin: 4rem 0px !important;

}

.project:hover {
  box-shadow: 0 0 10px 10px rgba(38, 69, 154, 0.95);
  /* transform: scale(1.05); */

}

strong {
  /* color: rgba(38, 69, 154, 0.95); */
  color: #707af7;
}

.project-card-body {
  padding-left: 4% !important;
}

/* .container {
  margin-left: 10px !important;
} */

details>summary {
  /* padding: 4px; */
  width: 200px;
  border: none;
  /* box-shadow: 1px 1px 1px #bbbbbb; */
  cursor: pointer;
}

details>p {
  /* background-color: black; */
  padding: 4px;
  margin: 0;
  color: gray;
  font-size: 0.8em;


  /* box-shadow: 1px 1px 1px #bbbbbb; */
}


.image-container {
  display: inline-block;
  /* overflow: hidden;  */
  /* Prevents image overflow */
}

.zoom-image {
  transition: transform 0.3s;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.8s;
}

.alert-svg {
  height: 20px !important;
}

.alert-light {
  background-color: rgba(43, 60, 107, 0.76) !important;
  /* background-color: rgba(38, 69, 154, 0.95) !important; */
  color: white !important;
  width: 50% !important;
}

#mobile {
  max-height: 200px;
  display: block;
  margin-left: 30px;
}

nav>div>a:hover {
  border: 0px;
}

h1 {
  /* background-image: linear-gradient(to right, rgba(1, 11, 74, 0.757) , #2d2b6c); */
  /* background-image: linear-gradient(to right, #707af7,  rgba(1, 11, 74, 0.757) , #2d2b6c) !important; */
  /* background-image: radial-gradient(circle, #707af7,   #2d2b6c) !important; */
  background-image: radial-gradient(circle, #2939ed, #6462bd) !important;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  font-size: 3.5rem !important;
  font-weight: 300 !important;
}

/* h1 {
  animation: rotate 2s linear 1;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
} */



.skills-div {
  /* opacity: 0; */
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  height: 120px;
  width: 160px;
  border: double 3px transparent;
  border-image-slice: 1;
  /* border-width: 3px; */
  background-image: linear-gradient(#000000, #000000, #1a1a1a), radial-gradient(circle at top left, #51a2e9, #2d2b6c);
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: transform 0.2s, opacity 1.2s;
  overflow: hidden;
  margin: 5px 15px;
}

.skills-div>img {
  height: 75px;
  width: 75px;
  margin: 5px 0px;
}

.skills-div>p {
  font-size: 1.0rem;
}


.modal-content {
  background-color: #1a1a1a !important;
  color: white !important;
  max-width: 650px;
}

.btn-close {
  background-color: white !important;
  color: wheat !important;
  display: none !important;
}

#next {
  filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70)
}

/* Mobile */
@media (max-width: 700px) {
  .row>div {
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* box-shadow: 1px 1px 2px 0px aqua; */

    /* padding-left: 0px; */
    border-radius: 10px;
  }

  .container {
    margin-left: 0px !important;
    /* padding: 0px 6px !important; */
  }

  summary {
    padding-right: 35px;

  }

  .alert-light {
    width: 100% !important;
    padding-left: 5px !important;
  }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1620px) {}
@media (min-width: 1600px)  {
  .project-card-body {
    padding-left: 8% !important;
  }
}

@media (min-width: 901px) and (max-width: 1620px) {
  details {
    padding-left: 10%;
  }
}